button {
    color: white;
    background-color: rgb(176, 144, 103);
    margin-bottom: 5%;
  }
.product{
    display: flex;
    flex-direction: column;
  text-align: center;
    align-items: center;
}
section{
  padding: 0 2%;
}
